/* Color Theme Swatches in Hex */
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-1-hex { color: #F23847; }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-2-hex { color: #8B41F2; }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-3-hex { color: #049DD9; }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-4-hex { color: #04BF7B; }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-5-hex { color: #F2CB05; }
.Abstract-background-banner-with-colorful-ink-in-water.-Festival-of-Colors.-Color-Explosion-Paint-Texture-2-hex { color: #976DF2; }

/* Color Theme Swatches in RGBA */
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-1-rgba { color: rgba(242, 55, 71, 1); }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-2-rgba { color: rgba(139, 65, 242, 1); }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-3-rgba { color: rgba(4, 156, 216, 1); }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-4-rgba { color: rgba(3, 191, 122, 1); }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-5-rgba { color: rgba(242, 202, 4, 1); }
.Abstract-background-banner-with-colorful-ink-in-water.-Festival-of-Colors.-Color-Explosion-Paint-Texture-2-rgba { color: rgba(151, 109, 242, 1); }

/* Color Theme Swatches in HSLA */
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-1-hsla { color: hsla(354, 87, 58, 1); }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-2-hsla { color: hsla(264, 87, 60, 1); }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-3-hsla { color: hsla(196, 96, 43, 1); }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-4-hsla { color: hsla(157, 96, 38, 1); }
.Superimposed-of-colorful-boxes.-wall-stack-of-square-multicolor-box.-5-hsla { color: hsla(50, 96, 48, 1); }
.Abstract-background-banner-with-colorful-ink-in-water.-Festival-of-Colors.-Color-Explosion-Paint-Texture-2-hsla { color: hsla(258, 83, 68, 1); }